body{
    margin: 0;
}

/* Variables */
$footer:45px;
$mobile-header:60px;
$mobileBreakpoint:800px;

/* Utils */

.verticalAlign{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.horizontalAlign{
    display: flex;
    justify-content: center;
    @media screen and (-webkit-min-device-pixel-ratio:0) {  
        align-items: flex-start;
    }
}


/* FONTS */